p , li{
    color: purple;
    width: 600px;
}
html {
    font-family: 'MuseoModerno', cursive;
}
h1 {
    font-size: 100px;
    text-align: center;
}
h2 {
    font-size: 70px;
    text-align: center;
    color: purple;
}
body {
    width: 600px;
    margin: 0 auto;
    background-color: #9acc89;
    padding: 0 20px 20px 20px;
    border: 5px solid purple;
  }
  img {
    display: block;
    margin: 0 auto;
  }